In [7]:

from sklearn.linear_model import LogisticRegression

In [2]:
 X = df.loc[:, df.columns != 'Sold']

In [3]:
y = df['Sold']

In [4]:
X.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,6.0625,0,1,0,0

In [5]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Sold, dtype: int64

In [8]:
clf_lr = LogisticRegression()

In [9]:
clf_lr.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:

df=pd.get_dummies(df)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/2. ST Academy - Classification models resource files/House-Price.csv',header =0)
X = df[['price']]
y = df[['Sold']]
from sklearn.linear_model import LogisticRegression
clf_lrs = LogisticRegression()
clf_lrs.fit( X, y)
clf_lrs.coef_
clf_lrs.intercept_

In [22]:
X.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [26]:
df['avg_dist'] = (df.dist1+df.dist2+df.dist3+df.dist4)/4
del df['dist1']
del df['dist2']
del df['dist3']
del df['dist4']
del df['bus_ter_YES']
del df['airport_NO']
del df['waterbody_None']

In [51]:
X.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River,avg_dist
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,1,0,0,1,4.0875
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,0,1,0,0,4.9675
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,0,0,0,0,4.9675
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,1,1,0,0,6.0650
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,0,1,0,0,6.0625

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/2. ST Academy - Classification models resource files/House-Price.csv',header =0)
uv=np.percentile(df.n_hot_rooms,[99])[0]
lv=np.percentile(df.rainfall,[1])[0]
df.rainfall[(df.rainfall < .3*lv )]= .3*lv
df.n_hos_beds=df.n_hos_beds.fillna(df.n_hos_beds.mean())
df['avg_dist'] = (df.dist1+df.dist2+df.dist3+df.dist4)/4
del df['dist1']
del df['dist2']
del df['dist3']
del df['dist4']
del df['bus_ter']
df=pd.get_dummies(df)
del df['airport_NO']
del df['waterbody_None']
df.corr()
del df['parks']

<ipython-input-1-845f439a54ca>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rainfall[(df.rainfall < .3*lv )]= .3*lv

In [36]:
del df['parks']

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   price                     506 non-null    float64
 1   resid_area                506 non-null    float64
 2   air_qual                  506 non-null    float64
 3   room_num                  506 non-null    float64
 4   age                       506 non-null    float64
 5   teachers                  506 non-null    float64
 6   poor_prop                 506 non-null    float64
 7   n_hos_beds                506 non-null    float64
 8   n_hot_rooms               506 non-null    float64
 9   rainfall                  506 non-null    int64
 10  Sold                      506 non-null    int64
 11  airport_YES               506 non-null    uint8
 12  waterbody_Lake            506 non-null    uint8
 13  waterbody_Lake and River  506 non-null    uint8
 14  waterbody_River           506 non-null    uint8
 15  avg_dist                  506 non-null    float64
dtypes: float64(10), int64(2), uint8(4)
memory usage: 49.5 KB

In [48]:

df.n_hos_beds=df.n_hos_beds.fillna(df.n_hos_beds.mean())

In [10]:
clf_lr.coef_

array([[-0.25063568, -0.01709752, -0.20349533,  0.88026156, -0.00626689,
         0.23799318, -0.21375774,  0.16518083, -0.08513742, -0.00673362,
        -0.33735637, -0.14831779, -0.04409837, -0.01646823,  0.16532562]])

In [11]:
clf_lr.intercept_

array([-0.00314013])

In [12]:

import statsmodels.api as sn
X_cons = sn.add_constant(X)
import statsmodels.discrete.discrete_model as sm
logit = sm.Logit(y, X_cons).fit()
logit.summary()

Optimization terminated successfully.
         Current function value: 0.557633
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      490
Method:                           MLE   Df Model:                           15
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                  0.1907
Time:                        05:59:05   Log-Likelihood:                -282.16
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 5.608e-21
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -2.0162      2.649     -0.761      0.447      -7.209       3.176
price                       -0.2732      0.033     -8.294      0.000      -0.338      -0.209
resid_area                   0.0209      0.027      0.787      0.431      -0.031       0.073
air_qual                    -5.0600      1.817     -2.785      0.005      -8.621      -1.499
room_num                     1.1026      0.276      3.989      0.000       0.561       1.644
age                         -0.0019      0.007     -0.283      0.777      -0.015       0.011
teachers                     0.3133      0.064      4.904      0.000       0.188       0.438
poor_prop                   -0.2070      0.034     -6.129      0.000      -0.273      -0.141
n_hos_beds                   0.1705      0.071      2.398      0.016       0.031       0.310
n_hot_rooms                 -0.0613      0.054     -1.132      0.258      -0.167       0.045
rainfall                    -0.0039      0.008     -0.463      0.643      -0.020       0.012
avg_dist                    -0.4011      0.097     -4.117      0.000      -0.592      -0.210
airport_YES                 -0.1411      0.210     -0.672      0.502      -0.553       0.270
waterbody_Lake              -0.1034      0.304     -0.340      0.734      -0.699       0.492
waterbody_Lake and River    -0.0628      0.327     -0.192      0.848      -0.704       0.579
waterbody_River              0.2321      0.255      0.911      0.362      -0.267       0.731
============================================================================================
"""

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/2. ST Academy - Classification models resource files/House-Price.csv',header =0)
uv=np.percentile(df.n_hot_rooms,[99])[0]
lv=np.percentile(df.rainfall,[1])[0]
df.rainfall[(df.rainfall < .3*lv )]= .3*lv
df.n_hos_beds=df.n_hos_beds.fillna(df.n_hos_beds.mean())
df['avg_dist'] = (df.dist1+df.dist2+df.dist3+df.dist4)/4
del df['dist1']
del df['dist2']
del df['dist3']
del df['dist4']
del df['bus_ter']
df=pd.get_dummies(df)
del df['airport_NO']
del df['waterbody_None']
df.corr()
del df['parks']
X = df.loc[:, df.columns != 'Sold']
y = df['Sold']
clf_lr = LogisticRegression()
clf_lr.fit(X,y)
import statsmodels.api as sn
X_cons = sn.add_constant(X)
X_cons.head()
import statsmodels.discrete.discrete_model as sm
logit = sm.Logit(y, X_cons).fit()
logit.summary()

<ipython-input-1-118fafcfe37b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rainfall[(df.rainfall < .3*lv )]= .3*lv
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Optimization terminated successfully.
         Current function value: 0.557633
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      490
Method:                           MLE   Df Model:                           15
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                  0.1907
Time:                        06:07:14   Log-Likelihood:                -282.16
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 5.608e-21
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -2.0162      2.649     -0.761      0.447      -7.209       3.176
price                       -0.2732      0.033     -8.294      0.000      -0.338      -0.209
resid_area                   0.0209      0.027      0.787      0.431      -0.031       0.073
air_qual                    -5.0600      1.817     -2.785      0.005      -8.621      -1.499
room_num                     1.1026      0.276      3.989      0.000       0.561       1.644
age                         -0.0019      0.007     -0.283      0.777      -0.015       0.011
teachers                     0.3133      0.064      4.904      0.000       0.188       0.438
poor_prop                   -0.2070      0.034     -6.129      0.000      -0.273      -0.141
n_hos_beds                   0.1705      0.071      2.398      0.016       0.031       0.310
n_hot_rooms                 -0.0613      0.054     -1.132      0.258      -0.167       0.045
rainfall                    -0.0039      0.008     -0.463      0.643      -0.020       0.012
avg_dist                    -0.4011      0.097     -4.117      0.000      -0.592      -0.210
airport_YES                 -0.1411      0.210     -0.672      0.502      -0.553       0.270
waterbody_Lake              -0.1034      0.304     -0.340      0.734      -0.699       0.492
waterbody_Lake and River    -0.0628      0.327     -0.192      0.848      -0.704       0.579
waterbody_River              0.2321      0.255      0.911      0.362      -0.267       0.731
============================================================================================
"""

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/2. ST Academy - Classification models resource files/House-Price.csv',header =0)
X = df[['price']]
y = df[['Sold']]
from sklearn.linear_model import LogisticRegression
clf_lrs = LogisticRegression()
clf_lrs.fit( X, y)
clf_lrs.coef_
clf_lrs.intercept_

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([0.61477516])

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/2. ST Academy - Classification models resource files/House-Price.csv',header =0)
uv=np.percentile(df.n_hot_rooms,[99])[0]
lv=np.percentile(df.rainfall,[1])[0]
df.rainfall[(df.rainfall < .3*lv )]= .3*lv
df.n_hos_beds=df.n_hos_beds.fillna(df.n_hos_beds.mean())
df['avg_dist'] = (df.dist1+df.dist2+df.dist3+df.dist4)/4
del df['dist1']
del df['dist2']
del df['dist3']
del df['dist4']
del df['bus_ter']
df=pd.get_dummies(df)
del df['airport_NO']
del df['waterbody_None']
df.corr()
del df['parks']
X = df[['price']]
y = df[['Sold']]
import statsmodels.api as sn
X_cons = sn.add_constant(X)
X_cons.head()
import statsmodels.discrete.discrete_model as sm
logit = sm.Logit(y, X_cons).fit()
logit.summary()

Optimization terminated successfully.
         Current function value: 0.676690
         Iterations 5

<ipython-input-3-c6b75192fc2a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rainfall[(df.rainfall < .3*lv )]= .3*lv

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      504
Method:                           MLE   Df Model:                            1
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                 0.01788
Time:                        06:07:43   Log-Likelihood:                -342.41
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 0.0004142
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6149      0.248      2.484      0.013       0.130       1.100
price         -0.0357      0.010     -3.417      0.001      -0.056      -0.015
==============================================================================
"""