In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:/Users/Specter/Desktop/resources/Data Files/1. ST Academy - Crash course and Regression files/House_Price.csv',header =0)
uv=np.percentile(df.n_hot_rooms,[99])[0]
lv=np.percentile(df.rainfall,[1])[0]
df.rainfall[(df.rainfall < .3*lv )]= .3*lv
df.n_hos_beds=df.n_hos_beds.fillna(df.n_hos_beds.mean())
df.crime_rate= np.log(1+df.crime_rate)
df['avg_dist'] = (df.dist1+df.dist2+df.dist3+df.dist4)/4
del df['dist1']
del df['dist2']
del df['dist3']
del df['dist4']
del df['bus_ter']
df=pd.get_dummies(df)
del df['airport_NO']
del df['waterbody_None']
df.corr()
del df['parks']
import statsmodels.api as sn

<ipython-input-14-73a3c53ffa63>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rainfall[(df.rainfall < .3*lv )]= .3*lv

In [2]:
X_multi = df.drop("price",axis = 1)

In [4]:
X_multi.head()

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,4.0875,1,0,0,1
1,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,4.9675,0,1,0,0
2,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,4.9675,0,0,0,0
3,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,6.0650,1,1,0,0
4,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,6.0625,0,1,0,0

In [5]:
y_multi = df["price"]

In [6]:
y_multi.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: price, dtype: float64

In [7]:
X_multi_cons = sn.add_constant(X_multi)

In [8]:
X_multi_cons.head()

,const,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,1.0,0.006300,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,4.0875,1,0,0,1
1,1.0,0.026944,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,4.9675,0,1,0,0
2,1.0,0.026924,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,4.9675,0,0,0,0
3,1.0,0.031857,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,6.0650,1,1,0,0
4,1.0,0.066770,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,6.0625,0,1,0,0

In [9]:
lm_multi = sn.OLS(y_multi, X_multi_cons).fit()

In [10]:
lm_multi.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.720
Model:                            OLS   Adj. R-squared:                  0.712
Method:                 Least Squares   F-statistic:                     84.21
Date:                Wed, 21 Apr 2021   Prob (F-statistic):          5.54e-125
Time:                        12:43:53   Log-Likelihood:                -1516.9
No. Observations:                 506   AIC:                             3066.
Df Residuals:                     490   BIC:                             3133.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -5.6215      5.156     -1.090      0.276     -15.751       4.508
crime_rate                   0.0240      0.348      0.069      0.945      -0.660       0.708
resid_area                  -0.0432      0.058     -0.750      0.453      -0.156       0.070
air_qual                   -15.8999      4.007     -3.969      0.000     -23.772      -8.028
room_num                     4.0161      0.427      9.403      0.000       3.177       4.855
age                         -0.0058      0.014     -0.428      0.669      -0.033       0.021
teachers                     1.0055      0.122      8.231      0.000       0.765       1.245
poor_prop                   -0.5774      0.053    -10.950      0.000      -0.681      -0.474
n_hos_beds                   0.3287      0.152      2.158      0.031       0.029       0.628
n_hot_rooms                  0.0349      0.042      0.828      0.408      -0.048       0.118
rainfall                     0.0164      0.018      0.919      0.359      -0.019       0.051
avg_dist                    -1.2221      0.189     -6.466      0.000      -1.593      -0.851
airport_YES                  1.1305      0.455      2.485      0.013       0.236       2.025
waterbody_Lake               0.2715      0.642      0.423      0.673      -0.990       1.533
waterbody_Lake and River    -0.6748      0.715     -0.944      0.346      -2.079       0.729
waterbody_River             -0.2976      0.547     -0.544      0.587      -1.372       0.777
==============================================================================
Omnibus:                      182.694   Durbin-Watson:                   0.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              829.465
Skew:                           1.553   Prob(JB):                    7.66e-181
Kurtosis:                       8.449   Cond. No.                     2.32e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.32e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [11]:
lm3 = LinearRegression()

In [12]:
lm3.fit(X_multi,y_multi)

LinearRegression()

In [13]:
print(lm3.intercept_, lm3.coef_)

-5.62154884874068 [ 2.40469186e-02 -4.31806213e-02 -1.58999322e+01  4.01606302e+00
 -5.82027529e-03  1.00545648e+00 -5.77365304e-01  3.28723884e-01
  3.48985822e-02  1.63988677e-02 -1.22206917e+00  1.13052186e+00
  2.71529885e-01 -6.74759440e-01 -2.97608702e-01]